.about {
    min-height: 400px;
    background-color: var(--primaryBGColor);
    padding: 50px 0;
}

.about-image-inner-div {
    width: 380px;
    height: 440px;
    position: relative;
}

.about-image-border, .about-image {
    border-radius: 3px;
    height: 94%;
    width: 94%;
    position: absolute;
} 

.about-info-div h4 {
    color: var(--primaryColor);
}

.about-image {
    bottom: 0;
    right: 0;
    z-index: 3;
}

.about-image-border {
    top: 0;
    left: 0;
    border: 4px solid var(--primaryColor);
    z-index: 2;
}

